body {
  background-color: #0D1117;
  color: #F0F6FC;
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mealContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 50%;
}

.containerTitles {
  font-size: large;
  text-align: center;
}

.containerButton button {
  padding: 14px 21px;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 10px;
  border-color: transparent;
  background: rgb(247, 183, 65);
  box-shadow: 2px 2px 1px #888888;
  margin-bottom: 20px;
}

.mealContainer h2 {
  text-align: center;
  font-size: 2.5rem;
}

.containerTags {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.instructions {
  font-size: 18px;
  line-height: normal;
}

h5 {
  font-size: 25px;
}

.videoWrapper {
  display: flex;
  justify-content: center;
}